@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<custom-counter header-Text="Purple Counter" button-Class="btn-info"></custom-counter>



<p role="status">Local count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Local</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
