@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<h4>Custom Elements from WebAssembly:</h4>
<custom-counter header-Text="Server Counter" button-Class="btn-primary"></custom-counter>
