@using System.Threading.Tasks
@inject IJSRuntime JSRuntime

<div style="border: 1px solid black; padding: 1rem;">

    <h1>@headerText</h1>

    <p role="status">Current count: @currentCount</p>

    <button class="btn @buttonClass" @onclick="IncrementCount">Click me</button>

    <input id="currentCount" type="hidden" value="@currentCount" />
</div>

@code {
    private int currentCount = 0;

    private async Task IncrementCount()
    {
        currentCount++;
        // await click.InvokeAsync();
        
        // Call JavaScript function
        if (!string.IsNullOrEmpty(jsOnClick))
        {
            await JSRuntime.InvokeVoidAsync(jsOnClick, currentCount);
        }
    }

    [Parameter]
    public string headerText { get; set; } = "Counter";

    [Parameter]
    public string buttonClass { get; set; } = "btn-primary";

    [Parameter]
    public string jsOnClick { get; set; }
}
