@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<hr />

<h4>Widgets:</h4>
<custom-counter header-Text="Red Counter" button-Class="btn-danger" js-On-Click="onClick"></custom-counter>

<script>
    function onClick(counter) {
        console.log("Counter clicked! Current count: " + counter);
    }
</script>

<script type="module">
    import { getCounterValue, onCounterClick } from 'http://localhost:5238/js/CustomElements/counter.js';

    // Now you can use these functions
    window.getCounterValue = getCounterValue;
    window.onCounterClick = onCounterClick;
</script>